<br>

<div class="row">
<div class="col s4 offset-s4">
    <div class="card horizontal">
      
      <div class="card-stacked">
        <div class="card-content ">
            <h4 class="center-align">Inicio sesión</h4>
          <p class="center-align">Chat mar el mejor chat de utt</p><br>
          <div class="row">
                <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_Correo" type="text" class="validate">
                        <label for="icon_Correo">Usuario y telefono</label>
                </div>
                
                <div class="input-field col s12">
                        <i class="material-icons prefix">
                                lock
                                </i>
                        <input id="Correo" type="password" class="validate">
                        <label for="Correo">Contraseña</label>
                </div>
          </div>
        </div>
        <div class="card-action ">
          <a href="#" class="teal-text ">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>

